<link rel="stylesheet" href="/templates/login/login.css">

    


     <header class="header-area" >
                <img src="/assets/images/logo.svg" alt="">

    <h2>Welcome Back!</h2>

    <p>Enter your details to access your account</p>
            </header>


            <section class="form-area">
               <form action="">
                <div class="form-login">
                <button>Login..............Signup</button>
                </div><br>

                <div class="form-input">
                <label for="email">Email Address*</label>
                <div class="icon">
                <img src="/assets/images/mail.svg" class="icon-img">
                <input type="text" placeholder="hello@example.com">
                </div>

                <br>
                <label for="password">Password*</label>
                 <div class="icon">
                <img src="/assets/images/icon-lock.svg" class="icon-img">
                <input type="text" placeholder="*****"></div>
                    </div>

                    <div class="form-help">
                    <button class="btn-primary"> <!--<img src="/assets/images/questionmark.svg" alt="">-->Help?</button>
                    <button class="btn-secondary">Next Step</button>
                    </div>

               </form>
            </section>

            <footer class="form-footer">
               <p>By continuing, you agree to our <a href="">Terms of Service</a> & <a href="">Privacy Policy</a></p>
            </footer>
   


<script src="/templates/login/login.js">
    
</script>