.header-area{
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-bottom: 8px;
}

.header-area img{
    height: 80px;
    margin-top: 40px;
    margin-bottom: 14px;
}

.header-area h2{
    font-size: 30px;
    line-height: 36px;
    align-self: center;
    margin-bottom: 8px;
    color: oklch(0.21 0.034 264.665);
}

.header-area p{
    font-size: 16px;
    align-self: center;
    color: oklch(0.446 0.03 256.802);
}

.form-area{
    height: 304px;
    width: 400px;
    margin: auto;
}

.form-login button{
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 20px;
}

.form-input input{
    width: 100%;
    height: 48px;
    border: 0.5px solid oklch(0.707 0.022 261.325);
    border-radius: 5px;
    padding-left: 50px;
}

.form-input label{
    color: oklch(0.373 0.034 259.733);
    font-size: 14px;
    font-weight: 500;
}

.icon{
    position: relative;
}

.icon-img{
    position: absolute;
    bottom: 14px;
    left: 14px;
    height: 20px;
    width: 20px;
    color: oklch(0.707 0.022 261.325);
}

.form-help{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.form-help button{
    width: 191px;
    height: 46px;
    text-align: center;
}

.btn-secondary{
    background-image: linear-gradient(to right, oklch(0.795 0.184 86.047) 0%, oklch(0.681 0.162 75.834) 100%);
    box-shadow: 0px 0px, oklab(0.795 0.0126846 0.183562 / 0.3) 0px 10px 15px -3px, oklab(0.795 0.0126846 0.183562 / 0.3) 0px 4px 6px -4px;
    border: none;
    border-radius: 15px;
}

.btn-primary{
    background-color: oklch(0.985 0.002 247.839);
    border: 0.5px solid oklch(0.707 0.022 261.325);
    border-radius: 15px;
}

.form-footer{
    align-self: center;
    width: 400px;
    margin: auto;
    color: oklch(0.551 0.027 264.364);
    font-size: 13px;
    text-align: center;
}

.form-footer a{
    text-decoration: none;
    color: oklch(0.546 0.245 262.881);
}


.active{
    
}