._root{
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

._root__main{
    display: flex;
    justify-content: space-between;
}

._root__container{
    background-color: #FFFFFF;
    height: 618px;
    width: 448px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

._root_container{
    background-color: #FFFFFF;
    height: 732px;
    width: 448px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

._root__outer-footer{
    color: oklch(0.551 0.027 264.364);
    font: 14px;
    margin-top: 18px;
}


